<!--show on mobile-->
<nav>
  <ul class="list-unstyled main-menu">
    <!--Include your navigation here-->
    <li class="text-right"><a href="#" id="nav-close" slide-menu>X</a></li>
    <li><a href="#">Blog <span class="icon"></span></a></li>
    <li><a href="#">Photos <span class="icon"></span></a></li>    
    <li><a href="#">Media <span class="icon"></span></a></li> 
    <li><a href="#">Resume <span class="icon"></span></a></li>   
  </ul>
</nav>
<!--show on mobile-->

<div class="navbar navbar-inverse navbar-fixed-top">
  
  <!--show on mobile-->
  <a class="navbar-brand visible-xs" href="#">{{blogName}}</a>

  <div class="hidden-xs">
    <a class="navbar-brand active" href="#">Blog</a>
    <a class="navbar-brand" href="#">Photos</a>          
    <a class="navbar-brand" href="#">Media</a>  
    <a class="navbar-brand" href="#">Resume</a>    
    <div class="clearfix"></div>
  </div>

  <!--show on mobile-->
  <div class="navbar-header pull-right visible-xs">
    <a id="nav-expander" class="nav-expander fixed" slide-menu>
            MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
          </a>
  </div>
  <!--show on mobile-->

</div>